input {
    width: 100%;
    padding: 0.5rem;
}

main {
    padding: 0 1rem 1rem 1rem;
}

.profiles {
    padding: 1rem 0;
    width: 100%;
}

.profiles .info {
    margin-bottom: 1rem;
}